{% extends "base.html" %}
{% block head %}
<style>
.format{
    width:100%;
    height:90px;
}
.post_hook{
    border-left:5px solid #000;
    padding-left:10px;
}
code{
    color:#333;
    border:1px solid #c0c0c0;
    background-color:#f0f0f0;
}
.bot {
    color:#0b0;
}
.example{
    font-size:12px;
}
.active {
    color:#0b0;
}
.inactive {
    color:#f00;
}
</style>
{% end %}
{% block body %}

    <h2>Edit {{escape(jid.token)}}</h2>
    <p><a href="/">All My Hooks</a></p>
    <p>
        Created: {{escape(jid.created.strftime("%Y/%m/%d"))}}<br/>
        JID: {{escape(jid.jid)}}
        {% if jid.jid.endswith("partychapp.appspotchat.com") %}
            <form method="POST" action="/edit/{{escape(jid.token)}}">
                <button type="submit" name="action.partychat_migration" value="1">migrate to im.partych.at</button> see <a href="http://partych.at/migration.html">http://partych.at/migration.html</a> for more information.
            </form>
        {% end %}
        <br/>
        HOOK ID: <span class="bot">{{escape(jid.token)}}@partychat-hooks.appspotchat.com</span><br/>
        <em>(invite this hook to your chat room)</em><br/>
    </p>
    

    <fieldset>
        <legend>/alias</legend>
        <p>This sets the alias of the hook in the chatroom to <code>/alias {value}</code></p>
        
        <form method="POST" action="/edit/{{escape(jid.token)}}">
            <label>
                <input type="text" name="alias" size="20" value="{{escape(jid.alias)}}"></label>    
                <button type="submit" name="action.update_alias" value="1">Update</button>
        </form>
    </fieldset>
    
    <hr>
    <h3>Post Hooks</h3>
    <p>These HTTP Endpoints will post data to the XMMP chat session</p>

    <form method="POST" action="/edit/{{escape(jid.token)}}">
        <button type="submit" name="action.new_post_hook" value="1">New Post Hook</button>
    </form>

    {% for post_hook in jid.posthook_set.fetch(100) %}
        <div class="post_hook">
            <form method="POST" action="/edit/{{escape(jid.token)}}">
            Active: 
            {% if post_hook.active %}
                <span class="active">YES</span> <button type="submit" name="action.deactivate" value="{{post_hook.token}}">Deactivate</button>
            {% else %}
                <span class="inactive">NO</span> <button type="submit" name="action.activate" value="{{post_hook.token}}">Activate</button>
            {% end %}
            </form>
            HTTP Endpoint: <strong><code>http://partychat-hooks.appspot.com/post/{{escape(post_hook.token)}}</code></strong><br/>
            <form method="POST" action="/edit/{{escape(jid.token)}}">
                <input type="hidden" value="{{escape(post_hook.token)}}" name="token">
                <p class="example">Uses Tornado Template Style. Request variables are available as <code>get_argument("field")</code>. <a href="http://github.com/jehiah/partychat-hooks/blob/master/example_formats.txt">more examples &rarr;</a></p>
                <textarea name="format" class="format">{{escape(post_hook.format)}}</textarea><br/>
                <button type="submit" name="action.update_post_hook" value="1">Update Format</button>
            </form>
        </div>
    {% end %}
    
    <hr>
    <h3>Receive Hooks</h3>
    <p>These HTTP Endpoints will receive a copy of data from the XMMP chat session</p>
    
    <form method="POST" action="/edit/{{escape(jid.token)}}">
        <button type="submit" name="action.new_receive_hook" value="1">New Receive Hook</button>
    </form>

    {% for receive_hook in jid.receivehook_set.fetch(100) %}
        <div class="post_hook">
            <form method="POST" action="/edit/{{escape(jid.token)}}">
            Active: 
            {% if receive_hook.active %}
                <span class="active">YES</span> <button type="submit" name="action.deactivate" value="{{receive_hook.token}}">Deactivate</button>
            {% else %}
                <span class="inactive">NO</span> <button type="submit" name="action.activate" value="{{receive_hook.token}}">Activate</button>
            {% end %}
            </form>
            <form method="POST" action="/edit/{{escape(jid.token)}}">
                <input type="hidden" value="{{escape(receive_hook.token)}}" name="token">
                <label>Command sequence to match against. 
                    <em>ie: send messages that start with <code>/todo</code></em><br/>
                <input type="text" name="command" value="{{escape(receive_hook.command)}}" size="30"></label><br/>
                <label>HTTP Endpoint <em>partychat will make a <code>HTTP POST</code> with the variable <code>from</code> and <code>body</code></em><br/>
                <input type="text" name="endpoint" value="{{escape(receive_hook.endpoint)}}" size="100"></label><br/>
                
                <button type="submit" name="action.update_receive_hook" value="1">Update Receive Hook</button>
            </form>
        </div>
    {% end %}
    
    
{% end %}